CompileFlags:
  Remove:
    - -rdc=true
    - -ccbin=*
    - -forward-unknown-to-host-compiler
    - --generate-code=*
    - -gencode
    - -Xcompiler=*
    - -Xcudafe
    - --expt*
    - --diag_suppress=*
  Add:
    - --cuda-gpu-arch=sm_86
---
If:
  PathMatch: .*\.cuh$
CompileFlags:
  Add:
    - -xcuda